<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.book.mapper.BorrowRecordMapper">

    <resultMap id="BaseResultMap" type="com.itheima.book.entity.BorrowRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="bookId" column="book_id" jdbcType="INTEGER"/>
            <result property="borrowDate" column="borrow_date" jdbcType="DATE"/>
            <result property="returnDate" column="return_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,book_id,
        borrow_date,return_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from borrow_record
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from borrow_record
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.itheima.book.entity.BorrowRecord" useGeneratedKeys="true">
        insert into borrow_record
        ( id,user_id,book_id
        ,borrow_date,return_date)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{bookId,jdbcType=INTEGER}
        ,#{borrowDate,jdbcType=DATE},#{returnDate,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.itheima.book.entity.BorrowRecord" useGeneratedKeys="true">
        insert into borrow_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="bookId != null">book_id,</if>
                <if test="borrowDate != null">borrow_date,</if>
                <if test="returnDate != null">return_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="bookId != null">#{bookId,jdbcType=INTEGER},</if>
                <if test="borrowDate != null">#{borrowDate,jdbcType=DATE},</if>
                <if test="returnDate != null">#{returnDate,jdbcType=DATE},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itheima.book.entity.BorrowRecord">
        update borrow_record
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="bookId != null">
                    book_id = #{bookId,jdbcType=INTEGER},
                </if>
                <if test="borrowDate != null">
                    borrow_date = #{borrowDate,jdbcType=DATE},
                </if>
                <if test="returnDate != null">
                    return_date = #{returnDate,jdbcType=DATE},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itheima.book.entity.BorrowRecord">
        update borrow_record
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            book_id =  #{bookId,jdbcType=INTEGER},
            borrow_date =  #{borrowDate,jdbcType=DATE},
            return_date =  #{returnDate,jdbcType=DATE}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
